 <html>
    <head>
    <title>Subscribers</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
            <script src="./js/app.js"></script>
    </head>

    <body ng-app='myApp'>
    <br>
      <div class="row" ng-app="myApp" ng-controller="backend" >
        <div class="container">
          <h1>User List {{name}} </h1>
          <div>
          <input type="text" ng-model="searchFilter" class="form-control" placeholder="Search">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>To</th>
                        <th>From</th>
                        <th>Departure Date</th>
                        <th>Time</th>
                        <th>Flight Type</th>
                        <th>Distance</th>
                        <th>Cost/hr</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in subscribers">
                        <td>{{list.email}}</td>
                        <td>{{list.to_country}}</td>
                        <td>{{list.from_country}}</td>
                        <td>{{list.startdate}}</td>
                        <td>{{list.starttime}}</td>
                        <td>{{list.planetype}}</td>
                        <td>{{list.distance}}</td>
                        <td>{{list.planecostperhr}}</td>
                        <td>{{list.estimatedcost}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </body>

<!--
    <script>
        var fetch = angular.module('fetch', []);

        fetch.controller('dbCtrl', ['$scope', '$http', function ($scope, $http) {
            $http.get("/subscriber")
                .success(function(list){
                    $scope.list = list;
                })
                .error(function() {
                    $scope.list = "error in fetching list";
                });
        }]);

    </script>
-->

    </html>
