<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKDSx_T1NPT6POTrShPCed43ULC1mx9U8&libraries=places&sensor=false&language=en&v=3"></script>
  
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
     <link rel="stylesheet" type="text/css" href="lib/jquery.datetimepicker.css" />
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js" ></script>
     <script src='lib/jquery.datetimepicker.js' ></script>
     <link href="lib/ionic/css/ionic.css" rel="stylesheet">
     <link href="css/chat.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/angular-storage.min.js"></script>
     <script src="js/scrollbars.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!--<script src="js/app.js"></script>-->
    <script src="js/botctrl.js"></script>
  </head>
  <body ng-app="mybot" >

    <ion-pane>
      <div ng-controller="botCtrl" data-ng-init="init()">
          <div class="chat-title red">
          <h1>Julia</h1>
          <h2>PRAVOLA</h2>
          <figure class="avatar">
            <img src="lib/img/profile.png" />
          </figure>
        </div>
        <div class="messages" style="height:80%">
          <div class="messages-content">
              sss
          </div>
        </div>

        <div class="">
          <div id="loading" >
            <div style=""><img class="imgsize" src="lib/img/chat.svg" /></div>
          </div>
          <div id="calendarfield">
            <div> <input ng-model="selecteddate" id="gcalendar" type="text" value="" class="inputbox" ng-keydown="$event.which === 13 && selectcalendarfunc()"></div>
            <div> <button type="submit" class="message-submit" ng-click="selectcalendarfunc()">Send</button></div>
          </div>
          <div id="citiesfield">
            <div> <input class="inputbox" id="gcities" ng-keydown="$event.which === 13 && selectplacefunc()" ng-model="chosenPlace"
                googleplace/></div>
            <div> <button type="submit" class="message-submit" ng-click="selectplacefunc()">Send</button></div>
          </div>
          <div id="airportsfield">
            <select ng-model="selectedairportId" ng-options="airport.id as airport.name for airport in airports">
            <option value="">{{defaultairport}}</option>
          </select>
            <button type="submit" class="message-submit" ng-click="selectairportfunc()">Send</button>
          </div>
          <div id="planesfield">
            <select ng-model="selectedplaneId"  >
                    <option value="1" selected>Very Light Jet $4000/hr</option>
                    <option value="2">Turbo Prop Jet $4000/hr</option>
                    <option value="3">Light Jet$ 5000/hr</option>
                    <option value="4">Midsize Jet $6000/hr</option>
                    <option value="5">Super Midsize Jet $7000/hr</option>
                    <option value="6">Heavy Jet $10000/hr</option>
                    <option value="7">Jumbo Jets Jet $15000/hr</option>
          </select>
            <button type="submit" class="message-submit" ng-click="selectplanefunc()">Send</button>
          </div>
          <div id="fromairportsfield">
            <select ng-model="selectedfromairportId" ng-options="airport.id as airport.name for airport in fromairports">
            <option value="">{{defaultfromairport}}</option>
          </select>
            <button type="submit" class="message-submit" ng-click="selectfromairportfunc()">Send</button>
          </div>
          <div id="textfield">
            <div> <input ng-model="selectdata" id="gtextfield" type="text" value="Yes" class="inputbox" ng-keydown="$event.which === 13 && selectdatafunc()"></div>
            <div> <button type="submit" class="message-submit" ng-click="selectdatafunc()">Send</button></div>
          </div>
        </div>
    </ion-pane>
  </body>
</html>
