
<html ng-app="mybot">
<head>
	<title>Pravola jets</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">

  <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
 
   
    
  <!--<link rel="stylesheet" href="css/shop.css">-->
  <link rel="stylesheet" href="css/chat.css">
   <link rel="stylesheet" href="css/angucomplete-alt.css">
  <script src="lib/angular-storage.min.js"></script>
  <script src="lib/angucomplete-alt.js"></script>
 
  <script src="js/botCtrl.js"></script>
  <script src="js/app.js"></script>
</head>
<body  class="body-bg">

<div ng-controller="botCtrl" ng-init="init()">
<div class="container home-container">

<img src="img/pravola-logo.svg"/ style="width: 150px;"><br><br>
<div class="chat" ng-show="toggle">
  <div class="chat-title">
    <h1>Julia</h1>
    <h2>PRAVOLA</h2>
    <figure class="avatar">
      <img src="img/profile.png" /></figure>
  </div>
  <div class="messages">
    <div class="messages-content">
     
    </div>
  </div>
 
  <div class="message-box" >
    <div ng-show="textinput"><input id="chatinput" ng-keydown="$event.which === 13 && insertmsg()" type="text" class="message-input place" placeholder="Type message..."><button type="submit" class="message-submit" ng-click="insertmsg()">Send</button></div>
    <div ng-show="autoinput"><angucomplete-alt  type="text"  id="chatinput" placeholder="Search countries" pause="100" selected-object="selectedCountry" local-data="countries" search-fields="name" title-field="name" minlength="1"  /></div>
    <div ng-show="airportsuggest">
      <angucomplete-alt  autofocus='true' ng-keydown="$event.which === 13 && selectairport()" type="text"  id="chatinput" placeholder="Select Airport" pause="100" selected-object="selectedairport" local-data="airportsnames" search-fields="name" title-field="name" minlength="1"  />
    

  </div>
      <button ng-show="airportsuggest" type="submit" class="message-submit" ng-click="selectairport()">Send</button></div>
  
</div>
<button class="" id="btn-chat" ng-click="toggleme()" >Get a Quote</button>
<div class="bg"></div>
</div>
</div>
</body>
</html>
